body {
    width: 200px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size: 12px;
    color: red;
    display: none;
}

button {
    font-size: 16px;
}

ul li {
    font-size: 20px;
    cursor: default;
    margin-bottom: 8px;
}